.button {
    background-color: rgb(243, 102, 104);
    border: 1px solid rgb(243, 102, 104);
    color: white;
    padding: 15px 0;
    border-radius: 3px;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-family: 'Exo2Thin';
    font-weight: 700;
}