.header {
    background-image: url("img/bg/bgindex\ \(3\).jpg");
    background-repeat: no-repeat;
    height: 780px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    overflow: hidden;
}
.header__btn {
    border: none;
    margin: 15px;
}
.header__button {
    margin: 15px;
    width: 180px;
}
.header__btn-icon {
    opacity: 0.7;
}
.header__text {
    font-size: 14px;
}
.header__title {
    text-align: center;
    font-family: 'Exo2Thin';
    font-size: 60px;
    font-weight: 100;
    max-width: 720px;
}
