.info-design1 {
    display: flex;
    max-height: 724px;
    overflow: hidden;

}
.information1 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 57.2vw;
}
.info-design1__title {
    max-width: 500px;
    margin-bottom: 42px;
}
.info-design1__subtitle {
    margin-bottom: -30px;
}
.info-design1__text {
    max-width: 500px;
    margin-bottom: 30px;
}
.img-container {
    overflow: hidden;
}
.info-design1__img-container {
    margin-left: auto;
}


@media (max-width: 992px) {
    .img-container {
        display: none;
    }
    .information1 {
        width: 100vw;
        text-align: center;
    }
    .info-design1__information1 {
        padding: 65px 0 80px 0;
    }
    .info-design1__text--margin {
        margin-bottom: 0;
    }
}