.info-design2 {
    display: flex;
    overflow: hidden;
}
.design2-images {
    display: flex;
    height: 540px;
    width: 54vw;
    justify-content: center;
    align-items: center;
}
.design2-images__img1 {
    position: relative;
    height: 540px;
    margin-right: auto;
}
.design2-images__img2 {
    position: absolute;
}
.text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 46vw;
}
.text-box__title {
    max-width: 450px;
}
.text-box__text {
    max-width: 500px;
}
.text-box__subtitle {
    margin-bottom: -20px;
}

@media (max-width: 992px) {
    .design2-images {
        display: none;
    }
    .info-design2 {
        justify-content: center;
        align-items: center;
    }
    .text-box {
        align-items: center;
        text-align: center;
        width: 510px;
    }
    .text-box__subtitle {
        margin-top: 80px;
    }
    .text-box__text {
        margin-bottom: 80px;
    }
}

@media (max-width: 768px) {
    .text-box {
        width: 80vw;
    }
}