.title {
    font-family: 'Exo2Regular';
    font-weight: 400;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.85);
}
.text {
    font-family: 'Exo2Regular';
    color: rgba(112, 108, 108, 0.8);
    font-weight: 600;
    font-size: 16.5px;
    word-spacing: 1px;
    line-height: 1.5;
}
.subtitle {
    color: rgb(243, 102, 104);
    font-size: 16px;
    font-family: 'Exo2Regular';
    font-weight: 400;
    letter-spacing: 2.5px;
}
.dots {
    font-family: 'Exo2Bold';
    font-size: 30px;
    color: rgb(243, 102, 104);
    padding-left: 13px;
    letter-spacing: 4px;
}
.titles-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}